<?xml version="1.0"?>
<launch>
    <arg name="respawn" default="false" />
    <arg name="debug" default="false" />
    <arg name="node_name" default="pylon_camera_node" />
    <arg name="config_file" default="$(find pylon_camera)/config/default_l.yaml" />

    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb -ex run --args" />

<!--    <node name="$(arg node_name)" pkg="pylon_camera" type="pylon_camera_node" output="screen"-->
<node name="pylon_camera_node_l" pkg="pylon_camera" type="pylon_camera_node" output="screen"
          respawn="$(arg respawn)" launch-prefix="$(arg launch_prefix)">
<!--          <remap from="pylon_camera_node/image_raw" to="pylon_camera_node/l_image_raw"/>-->

        <param name="camera_frame" value="$(arg node_name)" type="string" />
        <rosparam command="load" file="$(arg config_file)" />
    </node>
</launch>
